$fonts: ("Source": 'Source Sans Pro',  "Hind": 'Hind', "Fresca": 'Fresca');

$accent1: #e2ab01;
$accent2: #912b53;

$pseudo-bg: #ff4e33;
$text-c: #ccd1cd;
$text-f: 'Fresca', sans-serif;

$bg-c: #21232e;
$header-c: #fff;
$header-img: url(../img/m-h-night.jpg);
$section-bg: #3b3f50;