$fonts: ("Source": 'Source Sans Pro',  "Hind": 'Hind', "Fresca": 'Fresca');

$accent1: #699900;
$accent2: #2b59de;

$pseudo-bg: #14a0c7;
$text-c: #c0c3ce;
$text-f: 'Hind', sans-serif;

$bg-c: #fff;
$header-c: #2c2f3c;
$header-img: url(../img/m-h-day.jpg);
$section-bg: #21232e;